---
import Image from "astro/components/Image.astro";
import FormContacto from "../common/FormContacto.astro";
import InfoContacto from "../common/InfoContacto.astro";
import { contactInfo } from "../../js/contactInfo";
import { titles } from "../../js/titles";
import TitleSection from "../common/TitleSection.astro";
---

<section 
  id="contacto" 
  class="md:px-20 sm:px-10 px-5 lg:scroll-mt-18 scroll-mt-12 w-full bg-background dark:bg-dark-background flex items-center justify-center lg:min-h-[calc(100vh-70px)]"
  aria-label="Secci칩n de contacto"
>
  <div class="max-w-screen-xl mx-auto md:px-4 px-1 lg:py-16 p-8 pb-4 w-full">

    <!-- Grid de contenido -->
    <div class="relative grid grid-cols-1 lg:grid-cols-2 gap-12 lg:gap-16 items-start">
      <!-- Columna izquierda: Formulario -->
      <article class="col-span-1" data-aos="fade-right" data-aos-duration="700">
        <div class="flex flex-col gap-4 mb-8">
          <header class="lg:hidden flex">
            <TitleSection title="Cont치ctanos"/>
          </header>
          <div>
            <span class="hidden lg:inline-block text-xl dark:text-dark-text">{titles.contacto.title}</span>
            <h3 class="text-4xl hidden lg:inline-block lg:text-6xl dark:text-dark-text">{titles.contacto.subtitle}</h3>
          </div>
          <p class="text-md hidden lg:inline-block dark:text-border-input">{titles.contacto.subtitle2}</p>
        </div>
        <FormContacto />
      </article>

      <!-- Columna derecha: Info + Imagen -->
      <aside class="col-span-1 space-y-8" data-aos="fade-left" data-aos-duration="700">
        <!-- Imagen con overlay (solo desktop) -->
        <figure class="hidden lg:block relative rounded-sm overflow-hidden shadow-lg group" data-aos="zoom-in" data-aos-duration="600" data-aos-delay="100">
          <Image 
            src="/contacto.webp" 
            alt="Ilustraci칩n de contacto" 
            width={600} 
            height={300} 
            class="w-full h-48 object-cover group-hover:scale-105 transition-transform duration-500" 
            loading="lazy"
          />
          
          <figcaption class="absolute flex-col inset-0 bg-gradient-to-t from-black/60 to-transparent flex items-start justify-end p-6">
              <h3 class="text-white text-lg font-semibold mb-1"> Estamos listos para ayudarte </h3>
              <p class="text-gray-200 text-sm"> Tu proyecto web es nuestra prioridad </p>
          </figcaption>
        </figure>

        <!-- Informaci칩n de contacto -->
        <div data-aos="fade-up" data-aos-duration="600" data-aos-delay="200">
          <InfoContacto email={contactInfo.email} phone={contactInfo.phone} horario={contactInfo.horario} socialMedia={contactInfo.socialMedia} whatsapp={true}/>
        </div>

      </aside>
      <img src="/christmas/letter.png" alt="" class="absolute right-0 bottom-0 w-20 h-20 lg:w-26 lg:h-26 hidden md:block" data-aos="fade-in" data-aos-duration="500" data-aos-delay="300"/>
    </div>
  </div>
</section>