---
import { titles } from '../../js/titles';
import { proyectos } from '../../js/proyectos';
import TitleSection from '../common/TitleSection.astro';
---

<section id="proyectos" class="md:px-20 sm:px-10 px-5 bg-background dark:bg-dark-background grid place-items-center" aria-label="Sección de Proyectos">
  <div class="max-w-screen-lg w-full px-0 lg:py-16 p-12 py-12">
    <div data-aos="fade-down" data-aos-duration="800">
      <TitleSection title={titles.proyectos.title} titleHeader={titles.proyectos.titleHeader} isCenter={true}/>
    </div>
    <div class="grid gap-4 mt-10 md:grid-cols-3 grid-cols-2">
      { proyectos.map((proyecto, index) => (
        <a href={proyecto.urlPage} class="grid gap-4 group" data-aos="zoom-in" data-aos-duration="600" data-aos-delay={index * 80}>
          <div class="relative rounded-2xl overflow-hidden relative">
            <img src={proyecto.urlImage} class="w-full h-full object-cover"/>
            <img src={proyecto.urlImageMobile} class="w-full h-full object-cover absolute top-5 left-30"/>
            <div class="absolute inset-0 bg-black/90 opacity-0 group-hover:opacity-100 transition-opacity duration-300 flex items-center justify-center p-4">
              <p class="text-white text-sm text-center">{proyecto.description}</p>
            </div>
          </div>
          <p class="text-gray-800 dark:text-gray-400 text-center font-bold text-sm group-hover:text-primary dark:group-hover:text-primary-bright">{proyecto.title}</p>
        </a>
      ))}
    </div>
  </div>
</section>