---
import { titles } from '../../js/titles';
import { servicios } from '../../js/servicios';
import TitleSection from '../common/TitleSection.astro';
---
<section
  id="servicios"
  class="md:px-20 sm:px-10 px-5 bg-background dark:bg-dark-background scroll-m-12"
  aria-label="Sección de Servicios"
>
  <div class="max-w-screen-lg mx-auto px-0 lg:py-16 p-12 py-12">
    <div data-aos="fade-down" data-aos-duration="800">
      <TitleSection title={titles.servicios.title} titleHeader={titles.servicios.titleHeader}/>
    </div>
    <div class="grid lg:grid-cols-2 gap-4 relative mt-10 gap-10 md:gap-4">
      {
        servicios.map((servicio, index) => {
          const Icon = servicio.icon;
          return (
            <article 
              class="service-card rounded-xl md:bg-white md:dark:bg-bg-surface p-0 md:p-6 transition-all duration-300 group relative overflow-hidden md:border md:border-gray-200/80 md:dark:border-gray-700/50"
              data-aos="fade-up" 
              data-aos-duration="800" 
              data-aos-delay={index * 100}>              
              {/* Efecto de hielo sutil */}
              <div class="ice-overlay absolute inset-0 opacity-0 pointer-events-none transition-opacity duration-700"></div>
              
              {/* Etiqueta de categoría */}
              {/* <p class={`relative z-10 text-sm font-medium inline-flex items-center px-2.5 py-0.5 rounded-md mb-3 ${servicio.color ?? 'bg-green-100 text-green-800 dark:bg-gray-700 dark:text-green-400'}`}>
                {servicio.title}
              </p> */}

              <div class="flex w-full flex-row md:flex-col gap-4">
                <Icon class="w-8 h-8 text-primary dark:text-primary-bright"/>
                <div class="w-full">
                  <h3 class="dark:text-text-light text-2xl md:mb-2 mb-0 relative z-10 text-xl"> {servicio.subtitle} </h3>
                  {/* Título del servicio */}
                  <p class="dark:text-background/60 text-subtitle-dark text-md relative z-10">{servicio.description}</p>
                </div>
              </div>
            </article>
          );
        })
      }
    </div>
  </div>
</section>