---
import { Image } from 'astro:assets';
import SectionHeader from '../../common/SectionHeader.astro';

export interface Props {
  procesos: { titleIcon: string; description: string; urlImage?: string; icon?: any; subtitle?: string;}[];
  title: string;
  subtitle: string;
  icon: any;
}

const { procesos = [], title, subtitle, icon} = Astro.props;
---

<section
  id="proceso"
  class="-mt-0.5 md:px-20 sm:px-10 px-5 lg:scroll-mt-18 scroll-mt-12 w-full bg-background dark:bg-dark-background flex items-center justify-center lg:min-h-[calc(100vh-70px)]"
>
  <div class="max-w-screen-xl mx-auto px-0 lg:py-16 p-12 pb-4">
    <!-- Encabezado con diseño mejorado y más impactante -->
    <SectionHeader title={title} subtitle={subtitle} icon={icon}/>

    <!-- Tarjetas de proceso -->  
    <div class="grid col-span-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
      {
        procesos.map((proceso, index) => {
          const Icon = proceso.icon;
          return (
            <div class="relative rounded-2xl border-0.5 border-border-300 bg-white/60 dark:bg-dark-surface border border-gray-200 dark:border-dark-border" data-popover-target={proceso.titleIcon}>
              <!-- Numeración -->
              <div class="absolute top-4 right-4 inline-flex items-center gap-2 bg-gray-50 dark:bg-dark-background rounded-full px-3 py-1">
                <span class="font-bold text-primary">
                  { index + 1 }
                </span>
              </div>

              <!-- Título -->
              <div class="absolute top-4 left-4 inline-flex items-center gap-2 bg-gray-50 dark:bg-dark-background rounded-full px-3 py-1">
                {Icon && (
                  <Icon class="shrink-0 w-4 h-4 text-primary" />
                )}
                <span class="text-sm font-bold uppercase text-gray-700 dark:text-gray-200">
                  {proceso.titleIcon}
                </span>
              </div>

              <Image 
                alt={proceso.titleIcon || "Default Alt Text"} 
                src={proceso.urlImage || '/path/to/default-image.jpg'} 
                width={300} 
                height={300} 
                class="rounded-2xl rounded-b-none w-full h-auto" 
                loading="lazy" 
              />

              <div class="p-6">
                <span class="text-primary font-bold mb-2 inline-block">{proceso.subtitle}</span>
                <p class="text-gray-700 dark:text-gray-300">{proceso.description}</p>
              </div>
            </div>
          )
        })
      }
    </div>
  </div>
</section>