---
interface Props {
  title: string;
  className?: string;
  dataOs?: string;
  dataOsDuration?: string;
  delay?: string;

  // data-aos-duration="1000" data-aos-delay="100"
}

const { 
  title, 
  className = "text-3xl lg:text-4xl md:text-center text-left", 
  dataOs = "fade-up",
  dataOsDuration = "800",
  delay = "100" 
} = Astro.props;
---

<div 
  data-aos={dataOs}
  data-aos-delay={delay}
  data-aos-duration={dataOsDuration}
  data-aos-easing="ease-out"
  class="z-1"
>
  <h2 class={`text-primary dark:text-primary font-extrabold mb-2 ${className}`}>
    {title}
  </h2>
  <slot />
</div>