---
import Email from '../icons/Email.astro';
import Phone from '../icons/Phone.astro';
import Whatsapp from '../icons/Whatsapp.astro';
import Clock from '../icons/Clock.astro';

export interface Props {
  email?: string;
  phone?: string;
  horario?: string;
  whatsapp?: boolean;
  socialMedia?: any[]
}
const { 
  email, 
  phone,
  horario,
  whatsapp = false,
  socialMedia
} = Astro.props;

---

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-1 xl:grid-cols-2 gap-6 gap-x-10 px-0 py-6">
  <!-- <h3 class="md:text-2xl col-span-1 md:col-span-2 lg:col-span-1 xl:col-span-2 text-dark-background dark:text-white text-2xl">
    Información de Contacto
  </h3> -->

   {email && (
        <div class="flex items-center gap-4">
            <div class="bg-primary/10 dark:bg-primary/20 p-3 rounded-sm">
                <Email class="text-primary"/>
            </div>
            <div>
                <p class="text-sm text-gray-500 dark:text-gray-400">Correo electrónico</p>
                <a href={`mailto:${email}`} class="text-dark-background dark:text-background hover:text-primary dark:hover:text-primary transition-colors">
                    {email}
                </a>
            </div>
        </div>
   )}

  {
    phone && (
        <div class="flex items-center gap-4">
            <div class="bg-primary/10 dark:bg-primary/20 p-3 rounded-sm">
                <Phone class="text-primary"/>
            </div>
            <div>
                <p class="text-sm text-gray-500 dark:text-gray-400">Teléfono</p>
                <a href={`tel:${phone}`} class="text-dark-background dark:text-background hover:text-primary dark:hover:text-primary transition-colors">
                    +52 {phone}
                </a>
            </div>
        </div>
    )
  }

  {
    whatsapp && (
        <div class="flex items-center gap-4">
            <div class="bg-primary/10 dark:bg-primary/20 p-3 rounded-sm">
                <Whatsapp class="text-primary"/>
            </div>
            <div>
                <p class="text-sm text-gray-500 dark:text-gray-400">WhatsApp</p>
                <a href={`https://wa.me/52${phone}`} class="text-dark-background dark:text-background hover:text-primary dark:hover:text-primary transition-colors">
                    +52 {phone}
                </a>
            </div>
        </div>
    )  
  }


  {
    horario && (
        <div class="flex items-center gap-4">
            <div class="bg-primary/10 dark:bg-primary/20 p-3 rounded-sm">
                <Clock class="text-primary"/>
            </div>
            <div>
                <p class="text-sm text-gray-500 dark:text-gray-400">
                    Horario de atención
                </p>
                <p class="text-dark-background dark:text-background">
                    {horario}
                </p>
            </div>
        </div>
    )
  }

  {
    socialMedia && (
        socialMedia.map((media, index) => {
            const Icon = media.icon;
            return (
                <div class="flex items-center gap-4">
                    <div class="bg-primary/10 dark:bg-primary/20 p-3 rounded-sm">
                        <Icon class="h-6 w-6 text-primary"/>                    
                    </div>
                    <div>
                        <p class="text-sm text-gray-500 dark:text-gray-400">
                            {media.name}
                        </p>
                        <a target="_blank" href={media.url} class="text-dark-background dark:text-background hover:text-primary dark:hover:text-primary transition-colors">
                            Ir al perfil
                        </a>
                    </div>
                </div>
            )
        })
    )
  }

</div>
