---
import Navbar from "../../common/Navbar.astro";
import Hero from "./Hero.astro";
import Servicios from "../services/Servicios.astro";
import Proceso from "../about/Proceso.astro";
import Proyectos from "../services/Proyectos.astro";
import SobreNosotros from "../about/Sobre-nosotros.astro";
import Contacto from "../contact/Contacto.astro";
import Footer from "../../common/Footer.astro";
import FAQ from "../about/FAQ.astro";


import { titles } from "../../../js/titles"
import { servicios } from "../../../js/servicios"
import { procesos } from "../../../js/procesos"
import { navbarLinks } from "../../../js/navbarLinks" 
import { contactInfo } from "../../../js/contactInfo" 
---

<div id="container" class="overflow-x-hidden">
  <header>
    <Navbar links={navbarLinks} whatsappNumber={contactInfo.phone}/>
  </header>
  
  <main>
    <Hero />
    <Servicios title={titles.servicios.title} subtitle={titles.servicios.subtitle} icon={titles.servicios.icon} servicios={servicios} />
    <Proceso title={titles.proceso.title} subtitle={titles.proceso.subtitle} icon={titles.proceso.icon} procesos={procesos}/>
    <!-- <Proyectos title={sectionTexts.proyectos.title} subtitle={sectionTexts.proyectos.subtitle} icon={sectionTexts.proyectos.icon} proyectos={proyectosData}/> -->
    <SobreNosotros title={titles.sobreNosotros.title} subtitle={titles.sobreNosotros.subtitle} icon={titles.sobreNosotros.icon}/>
    <FAQ icon={titles.faq.icon}/>
    <Contacto title={titles.contacto.title} subtitle={titles.contacto.subtitle} icon={titles.contacto.icon} whatsappNumber={contactInfo.phone}/>
  </main>
  <Footer />
</div>
