---
import Navbar from "../../common/Navbar.astro";
import Hero from "./Hero.astro";
import Servicios from "../services/Servicios.astro";
import Proceso from "../about/Proceso.astro";
import Proyectos from "../services/Proyectos.astro";
import SobreNosotros from "../about/Sobre-nosotros.astro";
import Contacto from "../contact/Contacto.astro";
import Footer from "../../common/Footer.astro";

// Importación de los datos
import { serviciosData, procesosData, proyectosData, navbarLinks, sectionTexts, contactInfo } from "../../../js/datos";
---

<div id="container" class="overflow-x-hidden">
  <header>
    <Navbar links={navbarLinks} whatsappNumber={contactInfo.phone}/>
  </header>
  
  <main>
    <Hero />
    <Servicios title={sectionTexts.servicios.title} subtitle={sectionTexts.servicios.subtitle} icon={sectionTexts.servicios.icon} servicios={serviciosData} />
    <Proceso title={sectionTexts.proceso.title} subtitle={sectionTexts.proceso.subtitle} icon={sectionTexts.proceso.icon} procesos={procesosData}/>
    <!-- <Proyectos title={sectionTexts.proyectos.title} subtitle={sectionTexts.proyectos.subtitle} icon={sectionTexts.proyectos.icon} proyectos={proyectosData}/> -->
    <SobreNosotros title={sectionTexts.sobreNosotros.title} subtitle={sectionTexts.sobreNosotros.subtitle} icon={sectionTexts.sobreNosotros.icon}/>
    <Contacto title={sectionTexts.contacto.title} subtitle={sectionTexts.contacto.subtitle} icon={sectionTexts.contacto.icon} whatsappNumber={contactInfo.phone}/>
  </main>
  <Footer />
</div>
